h1 {
    display: flex;
    justify-content: center;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 500px;
    width: 400px;
    gap: 10px;
    border: 1px solid black;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 15px 0 5px 0;
    height: 50px;
    width: 350px;
    align-self: center;
    border: 1px solid black;
}

.displayed-memory {
    display: flex;
    justify-content: flex-end;
    margin: 0 15px 0 0;
    height: 20px;
    width: 60px;
}

.displayed-number {
    display: flex;
    justify-content: flex-end;
    margin: 0 15px 0 0;
    height: 20px;
    width: 60px;
}

.functionality-buttons {
    display: flex;
    width: 350px;
    height: 50px;
    gap: 5px;
}

.backspace-button {
    flex-basis: 50%;
}

.clear-button {
    flex-basis: 50%;
}

.buttons-container {
    display: flex;
    flex: 1;
    width: 350px;
    gap: 15px;
    margin: 5px 0 5px 0;
}

.number-buttons {
   display: grid;
   flex-basis: 75%;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   column-gap: 5px;
   row-gap: 5px;
}

.operator-buttons {
    display: grid;
    flex-basis: 25%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 5px;
}

/*Here I want to make the operator equal button twice the size of its sibling divs.*/ 
.operator-equal { 
    
}

#number-0 {
    align-self: self-end;
    height: 50px;
    width: 315%;
}
