@font-face {
    font-family: "Digital-7";
    src: url(./digital-7/digital-7.ttf);
}

h1 {
    display: flex;
    justify-content: center;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 0 10px 0;
    height: 525px;
    width: 400px;
    gap: 10px;
    border: 6px groove rgb(128, 129, 129);
    border-radius: 25px;
    background-color: rgb(62, 64, 63, 1);
}

.calculator-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 5px;
    height: 50px;
    width: 350px;
}

.top-name {
    font: 20px bolder;
    color: white;
}

.top-solar-panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 5px;
    height: 50px;
    width: 150px;
    border: 1px inset rgb(45, 45, 45);
    background-color: rgb(71, 49, 41, 1);
}

.top-text {
    font: 20px bolder;
    font-family: "Digital-7";
    color: white;
}


.display-border {
    border: 5px inset rgb(107, 108, 108);
    border-radius: 10px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 75px;
    width: 350px;
    border: 1px inset black;
    background-color: rgb(183, 198, 171, 1);
}

.displayed-memory {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 25%;
    margin: 0 15px 0 15px;
    width: 320px;
    font: 17px bold;
    font-family: "Digital-7";
    color: rgb(87, 87, 87);
}

.displayed-number {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 75%;
    margin: 0 15px 0 15px;
    height: 40px;
    width: 320px;
    font: 40px bold;
    font-family: "Digital-7";
    color: black;
}

.functionality-buttons {
    display: flex;
    height: 50px;
    width: 350px;
    gap: 5px;
}

.clearAll-button {
    align-content: center;
    flex-basis: 50%;
    font-size: 30px;
    color: white;
    border: 2px outset rgb(241, 114, 43, 1);
    border-radius: 5px;
    background-color: rgb(241, 114, 43, 1);
}

.clearAll-button:active {
    box-shadow: none; 
    transform: translateY(3px); 
    filter: drop-shadow(2px 2px #2c2c2c); 
}

.clear-button {
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    font-size: 30px;
    border: 2px outset;
    border-radius: 5px;
}

.clear-button:active {
    box-shadow: none; 
    transform: translateY(3px); 
    filter: drop-shadow(2px 2px #2c2c2c); 
}

.buttons-container {
    display: flex;
    flex: 1;
    width: 350px;
    gap: 15px;
    margin: 5px 0 5px 0;
}

.number-buttons {
   display: grid;
   flex-basis: 75%;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   column-gap: 5px;
   row-gap: 5px;
}

.operator-buttons {
    display: grid;
    flex-basis: 25%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 5px;
    
}

.number {
    font-size: 40px;
    color: white;
    border: 2px outset rgb(73, 71, 71);
    border-radius: 5px;
    background-color: rgb(139, 125, 122, 1);
}

.number:active {
    box-shadow: none; 
    transform: translateY(3px); 
    filter: drop-shadow(2px 2px #2c2c2c);
    box-shadow: 2px 2px inset #000000;
}

#number-0 {
    align-self: self-end;
    height: 100%;
    width: 100%;
    border: 2px outset rgb(73, 71, 71);
    border-radius: 5px;
}

#number-0:active {
    box-shadow: none; 
    transform: translateY(3px); 
    filter: drop-shadow(2px 2px #2c2c2c);
    box-shadow: 2px 2px inset #000000;
}

.operator {
    font-size: 30px;
    color: white;
    border: 2px outset rgb(77, 70, 69);
    border-radius: 5px;
    background-color: rgb(40, 40, 40, 1);
}

.operator:active {
    box-shadow: none; 
    transform: translateY(3px); 
    filter: drop-shadow(2px 2px #2c2c2c);
    box-shadow: 2px 2px inset #000000;
}

.operator-equal {
    position: absolute;
    height: 50px;
    width: 78px;
    margin: 247px 0px 0px 172px;
    font-size: 30px;
    color: white;
    border: 2px outset rgb(40, 40, 40, 1);
    border-radius: 5px;
    background-color: rgb(40, 40, 40, 1);
}

.operator-equal:active {
    box-shadow: none; 
    transform: translateY(3px); 
    filter: drop-shadow(2px 2px #2c2c2c);
    box-shadow: 2px 2px inset #000000;
}

#operator-add {
    height: 200%;
}

.decimal {
    position: absolute;
    height: 50px;
    width: 80px;
    margin: 247px 0px 0px 85px;
    font-size: 40px;
    color: white;
    border: 2px outset rgb(73, 71, 71);
    border-radius: 5px;
    background-color: rgb(139, 125, 122, 1);
}

.decimal:active {
    box-shadow: none; 
    transform: translateY(3px); 
    filter: drop-shadow(2px 2px #2c2c2c);
    box-shadow: 2px 2px inset #000000;
}